<h2>Modelos</h2>
<Label for="formmodelo" class="labeler">Cadastrar novo modelo:</Label>
<form novalidate name="formmodelo" id="modelo" ng-submit="registrar(modelo)" method="post">
        <div class="form-group">
            <label for="marca">Marca:</label>
            <input type="text" ng-model="modelo.Marca" name="marca" class="form-control" id="marca" required/>
            <span ng-show="formmodelo.$invalid">
        Campo é obrigatório
        </span>
        </div>
    
        <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" ng-model="modelo.Nome" name="nome" class="form-control" id="nome" required/>
                <span ng-show="formmodelo.$invalid">
            Campo é obrigatório
            </span>
        </div>
        <div class="form-group">
                <label for="ValorBase">Valor Base:</label>
                <input type="number" class="form-control" ng-model="modelo.ValorBase" name="valorBase" id="valorBase" required/>
        </div>

        <div class="form-group">
            <label for="opcional">Opcionais:</label>
            <span ng-repeat="opcional in opcionais">
                    <label class="checkbox" for="{{opcional.Id}}">
                      <input type="checkbox" ng-true-value="{{opcional.Id}}" ng-model="idsOpcionaisModelo[opcional.Id]" ng-change="buscarModelo(Modelo)" name="opcional"/>
                      {{opcional.Nome}}
                    </label>
            </span>
    </div>

      <input type="submit" class="btn btn-secondary" ng-disabled="formmodelo.$invalid">
</form>

<Label for="formModeloEditar" class="labeler" >Editar Modelo:</Label>
<form novalidate name="formModeloEditar" id="Modelo" ng-submit="editar(ModeloEditar)" method="put">
        <div class="form-group">
                <label for="id">Identificador do Modelo que deseja editar:</label>
                <input type="number" class="form-control" ng-model="ModeloEditar.Id" name="id" id="id" required/>
                <span ng-show="formModeloEditar.$invalid">
                        Campo é obrigatório
                </span>
        </div>
        
        <div class="form-group">
                <label for="marca">Marca:</label>
                <input type="text" ng-model="ModeloEditar.Marca" name="marca" class="form-control" id="marca" required/>
                <span ng-show="formmodelo.$invalid">
                    Campo é obrigatório
                </span>
        </div>        

        <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" ng-model="ModeloEditar.Nome" name="nome" class="form-control" id="nome" required/>
                        <span ng-show="formmodelo.$invalid">
                    Campo é obrigatório
                    </span>
        </div>

        <div class="form-group">
                <label for="ValorBase">Valor Base:</label>
                <input type="number" class="form-control" ng-model="ModeloEditar.ValorBase" name="valorBase" id="valorBase" required/>
        </div>

        <div class="form-group">
                        <label for="opcional">Opcionais:</label>
                        <span ng-repeat="opcional in opcionais">
                                <label class="checkbox" for="{{opcional.Id}}">
                                  <input type="checkbox" ng-true-value="{{opcional.Id}}" ng-model="idsOpcionaisModeloEditar[opcional.Id]" ng-change="buscarModelo(Modelo)" name="opcional"/>
                                  {{opcional.Nome}}
                                </label>
                        </span>
        </div>

      <input type="submit" class="btn btn-secondary" ng-disabled="formModeloEditar.$invalid">
      <button type="button" class="btn btn-secondary btn-danger" ng-click="deletar(ModeloEditar.Id)">Deletar Modelo</button>
</form>

<div class="input-group">
        <input name="searchKeyword" type="text" ng-model="searchKeyword" class="form-control" type="text" placeholder="Pesquisar modelo!" />
</div>

<Label for="modelosTodos" class="labeler">Todos os modelos</Label>
<table class="table table-striped" name="modelosTodos">
        <thead>
                <th>Identificador</th>
                <th>Marca</th>
                <th>Nome</th>
                <th>Valor Base</th>
                <th>Opcionais disponíveis</th>
        </thead>
        <tbody>
                <tr ng-repeat="modelo in modeloTodos | filter: searchKeyword">
                        <td>{{modelo.Id}}</td>
                        <td>{{modelo.Marca}}</td>
                        <td>{{modelo.Nome}}</td>
                        <td>{{modelo.ValorBase}}</td> <td><ul ng-repeat="opcional in modelo.Opcionais" class="opcionais-orcamento">
                                        <li>{{opcional.Nome}}</li>
                                </ul></td>
                </tr>
        </tbody>
</table>
